body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    background-color: #bac2ba;
}
.header { 
    display: flex;
    justify-content: space-between; /*распределение пространства между элементами */
    align-items: flex-start; /*выравнивание по верху */
    background: #5e9c5e;
}
.URL {
    display: flex;
    justify-content: center; /*центрирует по горизонтали */
    align-items: center; /*центрирует по вертикали */
}
.header__nav {
    display: flex;
    /* align-items: end; */
    margin: 10px; /*внешний отступ */
    padding: 10px; /*внутренний отступ */
}
.nav-link{
    color: #000000;
    text-decoration: none; /*убиратет подчеркивание */
    gap: 20px; /*расстояние между ссылками */
    font-size: 24px; /*размер шрифта */
    margin-right: 20px; /*отступ справа */
}

.nav-link:last-child {
    margin-right: 0; /*убирает отступ у последней ссылки */
}

h1, .header__nav /*ccылки шапки*/  {
    justify-content: end; /*выравнивание по правому краю */
    margin: 0; /*убирает внешние отступы */
    padding: 5px; /*добавляет втнутренниие отступы */
}

footer {
    background-color: #5e9c5e;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #5e9c5e;
}
.conteiner-wrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
footer p {
    margin: 0;
    color: #000000;
}
.table {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    max-width: 960px;
}
td {
    padding: 10px;
    height: 20px; /* фиксированная высота ячеек */
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
    }

    .nav-link {
        margin-left: 0;
    }

    .header__nav {
        flex-direction: column;
    }

    .table {
        order: -1;
    }
}